@{
    ViewBag.Title = "Home Page";
}
<body background="~/Images/5iUZmd4.png">

    <div class="jumbotron">
        <h2>Welcome to Dr Ramraj's System</h2>
        <p class="lead">Where Care Comes First</p>
    </div>
    </body>