
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using Green.Models
@{
    ViewBag.Title = "HomePage";
    Layout = "~/View/Shared/_Layout.cshtml";
}


<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>GqiHaa Ramraj| Home ::HOME</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="Palette Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="~/Design/css/bootstrap.css" rel="stylesheet" />


    <link href="~/Design/css/style.css" rel="stylesheet" />

    <!-- color switch -->
    <link href="~/Design/css/blast.min.css" rel="stylesheet" />

    <!-- lightbox -->
    <link href="~/Design/css/lightbox.min.css" rel="stylesheet" />

    <!-- portfolio -->
    <link href="~/Design/css/portfolio.css" rel="stylesheet" />

    <!-- font-awesome icons -->
    <link href="~/Design/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Bootstrap -->
    @*<link href="~/Design/css/bootstrap.min.css" rel="stylesheet">*@
    <!-- Style CSS -->
    @*<link href="~/Design/css/style.css" rel="stylesheet">*@
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <!-- FontAwesome CSS -->
    <link href="~/Design/css/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Design/css/owl.theme.default.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Design/css/fontello.css">
    <link href="~/Design/css/font-awesome.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <div class="blast-box">
        <div class="blast-frame">
            <p>color schemes</p>
            <div class="blast-colors d-flex justify-content-center">
                <div class="blast-color">#25e0ff</div>
                <div class="blast-color">#feb800</div>
                <div class="blast-color">#f25050</div>
                <div class="blast-color">#18e7d3</div>
                <!-- you can add more colors here -->
            </div>
            <p class="blast-custom-colors">Choose Custom color</p>
            <input type="color" name="blastCustomColor" value="#cf2626">

        </div>
        <div class="blast-icon"><i class="fa fa-cog" aria-hidden="true"></i></div>

    </div>
    <div id="home" class="banner" data-blast="bgColor">
        <!-- header -->
        @*<nav class="navbar fixed-top navbar-expand-lg navbar-light navbar-fixed-top">
            <div class="container">
                <h1 class="wthree-logo">
                    <a href="index.html" id="logoLink" data-blast="color">Dr Ramraj Dental Practice</a>
                </h1>
                <div class="nav-item  position-relative">
                    <a href="#menu" id="toggle">
                        <span></span>
                    </a>
                    <div id="menu">
                        <ul>
                            <li><a data-blast="color" href="index.html">Home</a></li>
                            <li><a data-blast="color" href="~/UsersAdmin/Create.cshtml" class="scroll">About</a></li>
                            <li><a data-blast="color" href="#portfolio" class="scroll">Portfolio</a></li>
                            <li><a data-blast="color" href="#services" class="scroll">Services</a></li>
                            <li><a data-blast="color" href="#testi" class="scroll">Testimonials</a></li>
                            <li><a data-blast="color" href="#contact" class="scroll">Contact</a></li>
                            <li>@Html.Partial("_LoginPartial")</li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>*@
        <!-- //header -->
        <!-- banner -->
        <div class="container-fluid">
            <div class="row banner-row">
                <div class="col-lg-8 bg-img text-center">
                    <h6 class="agile-title">
                        We offer a wide range of procedures
                        to bring back your smile.
                    </h6>
                    <div class="bnr-img">
                        <img src="~/Design/images/ToothPalette.jpg" alt="" class="img-fluid m-auto" />
                    </div>

                </div>
                <div class="col-lg-4  my-auto p-0">

                    <div id="login-row">
                        <h4>Login or Register</h4>
                        <div id="login-column">
                            <div class="box">
                                <div class="shape1 shape-bg"></div>
                                <div class="shape2 shape-bg"></div>
                                <div class="shape3 shape-bg"></div>
                                <div class="shape4 shape-bg"></div>
                                <div class="shape5 shape-bg"></div>
                                <div class="shape6 shape-bg"></div>
                                <div class="shape7 shape-bg"></div>
                                <div class="float">
                                    <form class="form" action="#" method="post">
                                        @*<div class="form-group">
                                                <label for="username">Username</label><br>
                                                <input type="text" name="username" id="username" class="form-control"
                                                       placeholder="your name" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="password">Password</label><br>
                                                <input type="password" name="password" id="password" class="form-control"
                                                       placeholder="*****" required>
                                            </div>
                                            <div class="form-group btn-agile">
                                                <input type="submit" name="submit" class="btn btn-primary btn-md" value="login">
                                            </div>*@
                                        <ul></ul>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //banner -->
    </div>
    <!-- about -->
    <section class="wthree-row py-sm-5 py-4 about-top" id="about">
        <div class="container pt-lg-5">
            <div class="title-section py-lg-5">
                <h4 data-blast="color">Services</h4>
                <h3 class="w3ls-title text-uppercase">We Offer a wide range of procedures </h3>
            </div>

          

        </div>
    </section>
    <section class="about-bottom-agileinfo pb-lg-5">
        <div class="row  no-gutters align-items-center abbot-main">
            <div class="col-lg-6 about-grid-agileits py-5" data-blast="bgColor">
                <div class="about-grid">
                    <div class="container">
                        <div class="d-flex">
                            <div class="mx-auto">
                                <div class="title-section py-lg-5 pb-4">
                                    <h4></h4>
                                    <h3 class="w3ls-title text-uppercase text-white"> Objectives </h3>
                                </div>
                                <div class="wthree-list-grid d-flex flex-wrap">
                                    <div class="wthree-list-icon">
                                        <span class="fa fa-thumbs-up" aria-hidden="true"></span>
                                    </div>
                                    <div class="wthree-list-desc">
                                        <h5>Code-Hub developers</h5>
                                        <p>To build a system that is user friendly and that is easy to use.</p>

                                    </div>
                                </div>
                                <div class="wthree-list-grid d-flex flex-wrap">
                                    <div class="wthree-list-icon">
                                        <span class="icon-002-first-aid-kit" aria-hidden="true"></span>
                                    </div>
                                    <div class="wthree-list-desc">
                                        <h5>vision</h5>
                                        <p>To use the latest Technology to create beautiful smiles.</p>
                                    </div>
                                </div>
                                <div class="wthree-list-grid d-flex flex-wrap">
                                    <div class="wthree-list-icon">
                                        <span class="fa fa-picture-o" aria-hidden="true"></span>
                                    </div>
                                    <div class="wthree-list-desc">
                                        <h5>Technology</h5>
                                        <p>Dr Ramraj host to advanced dental technology, our dental practice in Berea Centre Durban, ensures our patients enjoy maximum comfort. </p>
                                    </div>
                                </div>
                                <div class="wthree-list-grid d-flex flex-wrap">
                                    <div class="wthree-list-icon">
                                        <span class="icon" aria-hidden="true"></span>
                                    </div>
                                    <div class="wthree-list-desc">
                                        <h5>Support</h5>
                                        <p> Patients enjoy maximum comfort whilst enabling our team to comprehensively diagnose and care to your dental health. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6  px-sm-5 mx-auto py-lg-0 py-4">
                <section class="px-sm-5 px-3 accordion-agile">
                    <div class="typo-grid my-auto">
                        <div class="panel-group" id="accordion4" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne4">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion4" href="#collapseOne4"
                                           aria-expanded="true" aria-controls="collapseOne4" data-blast="bgColor">
                                            <i class="icon fa fa-globe text-white"></i>
                                            Dental Implants.
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne4" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne4">
                                    <div class="panel-body">
                                        <p>
                                            Replaces an individual missing tooth with a long term option that does not need to be fixed to the teeth on either side of the gap
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo4">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion4"
                                           href="#collapseTwo4" aria-expanded="false" aria-controls="collapseTwo4"
                                           data-blast="bgColor">
                                            <i class="icon-030-braces"></i>
                                            Crowns
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo4">
                                    <div class="panel-body">
                                        <p>
                                            The Crown is made from a block of caramic and fitted shortly after the teeth are re-shaped down. Therefore treatment is carried in one visit only
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree4">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion4" href="#collapseThree4" aria-expanded="false" aria-controls="collapseThree4" data-blast="bgColor">
                                            <i class="icon fa fa-mobile text-white"></i>
                                            Root Carnal Treatment
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree4">
                                    <div class="panel-body">
                                        <p>
                                            You may require a root carnal when you suffer from:
                                            <ul>
                                                <li> <b>Sensitivity</b></li>
                                                <li> <b>Throbbing ache</b></li>
                                                <li> <b>Abscess(Gum boil)</b></li>
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
            </div>

        </div>
    </section>
    <!-- //about -->
    <!-- portfolio -->
    <section id="portfolio" class="py-lg-5 portfolio-agile pt-3 pb-5">
        <div class="container py-lg-5">
            <div class="title-section pb-lg-5 text-center">
                <h4>Code-Hub Developers</h4>
                <h3 class="w3ls-title text-uppercase">Team Members</h3>
            </div>
            <div class="row">
                <ul class="nav nav-pills my-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="showall-tab" data-toggle="pill" href="#showall" role="tab"
                           aria-controls="showall" aria-selected="true">Show All</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="categorys-tab" data-toggle="pill" href="#categorys" role="tab"
                           aria-controls="categorys" aria-selected="false">Tab 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="Tab2-Image-tab" data-toggle="pill" href="#Tab2-Image" role="tab"
                           aria-controls="Tab2-Image" aria-selected="false">Tab 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="Tab3-Image-tab" data-toggle="pill" href="#Tab3-Image" role="tab"
                           aria-controls="Tab3-Image" aria-selected="false">Tab 3</a>
                    </li>

                </ul>
            </div>
            <hr style="margin-top:-20px;">
            <div class="container">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active clearfix" id="showall" role="tabpanel" aria-labelledby="showall-tab">
                        <div class="portfolio">
                            <a href="images/Braces.jpg" class="img-fluid" data-lightbox="example-set" data-title="Add text to your image to make a commentary for it!">
                                <img class="categoryd-img img-fluid" src="~/Design/images/Braces.jpg" alt="flyer-portfolio" />
                            </a>
                            <div class="desc">Image1</div>
                        </div>
                        <div class="portfolio">
                            <a href="images/dentist-treating-patient.jpg" class="img-fluid" data-lightbox="example-set" data-title="Add text to your image to make a commentary for it!">
                                <img class="categoryd-img img-fluid" src="~/Design/images/dentist-treating-patient.jpg" alt="flyer-portfolio" />
                            </a>
                            <div class="desc">Image 2</div>
                        </div>
                        <div class="portfolio">
                            <a href="images/Slideer1111.jpg" class="img-fluid" data-lightbox="example-set" data-title="Add text to your image to make a commentary for it!">
                                <img class="categoryd-img img-fluid" src="~/Design/images/Slideer1111.jpg" alt="flyer-portfolio" />
                            </a>
                            <div class="desc">Tab1-Image2</div>
                        </div>
                        <div class="portfolio">
                            <a href="images/RamrajPilatte.jpg" class="img-fluid" data-lightbox="example-set" data-title="Add text to your image to make a commentary for it!">
                                <img class="categoryd-img img-fluid" src="~/Design/images/RamrajPilatte.jpg" alt="flyer-portfolio" />
                            </a>
                            <div class="desc">Image 3</div>
                        </div>
                        <div class="portfolio">
                            <a href="images/Register bacground.jpg" class="img-fluid" data-lightbox="example-set" data-title="Add text to your image to make a commentary for it!">
                                <img class="categoryd-img img-fluid" src="~/Design/images/Register bacground.jpg" alt="flyer-portfolio" />
                            </a>
                            <div class="desc">Image 3</div>
                        </div>
                        <div class="portfolio">
                            <a href="images/SmileTooth" class="img-fluid" data-lightbox="example-set" data-title="Add text to your image to make a commentary for it!">
                                <img class="categoryd-img img-fluid" src="~/Design/images/SmileTooth.png" alt="flyer-portfolio" />
                            </a>
                            <div class="desc">Image 4</div>
                        </div>
                        <div class="portfolio">
                            <a href="images/SplashHomeBg.jpg" class="img-fluid" data-lightbox="example-set" data-title="Add text to your image to make a commentary for it!">
                                <img class="categoryd-img img-fluid" src="~/Design/images/SplashHomeBg.jpg" alt="flyer-portfolio" />
                            </a>
                            <div class="desc">Image 5</div>
                        </div>
                        <div class="portfolio">
                            <a href="images/g8.jpg" class="img-fluid" data-lightbox="example-set" data-title="Add text to your image to make a commentary for it!">
                                <img class="categoryd-img img-fluid" src="~/Design/images/g8.jpg" alt="flyer-portfolio" />
                            </a>
                            <div class="desc">Image 6</div>
                        </div>
                    </div>
                    <div class="tab-pane fade clearfix" id="categorys" role="tabpanel" aria-labelledby="categorys-tab">
                        <div class="portfolio">
                            <a href="images/Tooth whitening.jpg" class="img-fluid" data-lightbox="example-set" data-title="Add text to your image to make a commentary for it!">
                                <img class="categoryd-img img-fluid" src="~/Design/images/Tooth whitening.jpg" alt="flyer-portfolio" />
                            </a>
                            <div class="desc">Tab1-Image1</div>
                        </div>
                        <div class="portfolio">
                            <a href="images/dentist-treating-patient.jpg" class="img-fluid" data-lightbox="example-set" data-title="Add text to your image to make a commentary for it!">
                                <img class="categoryd-img img-fluid" src="~/Design/images/dentist-treating-patient.jpg" alt="flyer-portfolio" />
                            </a>
                            <div class="desc">Tab1-Image2</div>
                        </div>
                        <div class="portfolio">
                            <a href="Login/images/RamrajPilatte.jpg" class="img-fluid" data-lightbox="example-set" data-title="Add text to your image to make a commentary for it!">
                                <img class="categoryd-img img-fluid" src="~/Design/Login/images/RamrajPilatte.jpg" alt="flyer-portfolio" />
                            </a>
                            <div class="desc">Tab1-Image3</div>
                        </div>
                    </div>
                    <div class="tab-pane fade clearfix" id="Tab3-Image" role="tabpanel" aria-labelledby="Tab3-Image-tab">
                        <div class="portfolio">
                            <a href="images/g5.jpg" class="img-fluid" data-lightbox="example-set" data-title="Add text to your image to make a commentary for it!">
                                <img class="categoryd-img img-fluid" src="~/Design/images/Tooth whitening.jpg" alt="flyer-portfolio" />
                            </a>
                            <div class="desc">Tab3-Image 1</div>
                        </div>
                        <div class="portfolio">
                            <a href="images/g7.jpg" class="img-fluid" data-lightbox="example-set" data-title="Add text to your image to make a commentary for it!">
                                <img class="categoryd-img img-fluid" src="~/Design/images/SmileTooth.png" alt="flyer-portfolio" />
                            </a>
                            <div class="desc">Tab3-Image 2</div>
                        </div>
                        <div class="portfolio">
                            <a href="images/g8.jpg" class="img-fluid" data-lightbox="example-set" data-title="Add text to your image to make a commentary for it!">
                                <img class="categoryd-img img-fluid" src="~/Design/images/Register bacground.jpg" alt="flyer-portfolio" />
                            </a>
                            <div class="desc">Tab3-Image 3</div>
                        </div>
                    </div>
                    <div class="tab-pane fade clearfix" id="Tab2-Image" role="tabpanel" aria-labelledby="Tab2-Image-tab">
                        <div class="portfolio">
                            <a href="images/g1.jpg" class="img-fluid" data-lightbox="example-set" data-title="Add text to your image to make a commentary for it!">
                                <img class="categoryd-img img-fluid" src="~/Design/images/Palette2.png" alt="flyer-portfolio" />
                            </a>
                            <div class="desc">Tab2-Image 1</div>
                        </div>
                        <div class="portfolio">
                            <a href="images/g2.jpg" class="img-fluid" data-lightbox="example-set" data-title="Add text to your image to make a commentary for it!">
                                <img class="categoryd-img img-fluid" src="~/Design/images/dentist-treating-patient.jpg" alt="flyer-portfolio" />
                            </a>
                            <div class="desc">Tab2-Image 2</div>
                        </div>
                        <div class="portfolio">
                            <a href="images/g3.jpg" class="img-fluid" data-lightbox="example-set" data-title="Add text to your image to make a commentary for it!">
                                <img class="categoryd-img img-fluid" src="~/Design/images/Braces.jpg" alt="flyer-portfolio" />
                            </a>
                            <div class="desc">Tab2-Image 3</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--//contact map grid -->
    <!-- footer -->
    <footer class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <h2 class="agile-title"><a href="index.html" class="text-capitalize" data-blast="color">Dr Ramraj Dental Practice</a></h2>
                </div>
                <div class="col-lg-3  mt-lg-0 mt-4">
                    <ul class="list-agileits">
                        <li>
                            <a href="index.html" class="text-secondary">
                                Home
                            </a>
                        </li>
                        <li class="my-3">
                            <a href="#about" class="scroll text-secondary">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="#contact" class="scroll text-secondary">
                                Contact Us
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 mt-lg-0 my-4">
                    <div class="fv3-contact">
                        <span class="fa fa-envelope-open mr-2" data-blast="color"></span>
                        <p>
                            <a href="" class="text-secondary">Policies / Terms & Conditions</a>
                        </p>
                    </div>
                    <div class="fv3-contact my-3">
                        <span class="fa fa-phone mr-2" data-blast="color"></span>
                        <p class="text-secondary">+27 62 196 0358</p>
                    </div>
                </div>
                <div class="col-lg-3">

                </div>
            </div>
        </div>
    </footer>
    <!-- //footer -->
    <div class="cpy-right text-center py-2" data-blast="bgColor">
        <p class="text-dark">
            © 2019 Dr Ramraj Dental Practice. All rights reserved | Design by
            Code-Hub Developers©
        </p>
    </div>
    <!-- js -->

    <script src="~/Design/js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!--  menu toggle -->

    <script src="~/Design/js/menu.js"></script>
    <!-- color switch -->

    <script src="~/Design/js/blast.min.js"></script>
    <!-- light box -->

    <script src="~/Design/js/lightbox-plus-jquery.min.js"></script>
    <!-- Scrolling Nav JavaScript -->

    <script src="~/Design/js/scrolling-nav.js"></script>
    <!-- start-smooth-scrolling -->

    <script src="~/Design/js/move-top.js"></script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5b116fa98859f57bdc7bc2c7/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
    <script src="~/Design/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>

    <script src="~/Design/js/SmoothScroll.min.js"></script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="~/Design/js/bootstrap.js"></script>
</body>

</html>